# Set registry to default to avoid possible mirror or proxy issues
registry=https://registry.npmjs.org/
# Always use exact versions from package-lock (if lockfile exists after install)
save-exact=true
# Increase fetch timeouts
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
